<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project - Bowling</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation:
        <a href="/">Home</a>
        <a href="/bowlers">Bowlers</a>
        <a href="/teams">Teams</a>
        <a href="/bowlersTeams">BowlersTeams</a>
        <a href="/scores">Scores</a>
        <a href="/laneAssignments">Lane Assignments</a>
        <a href="/teamsStandings">Teams Standings</a>
        <form method="POST" action="/resetDatabase" style="display:inline;">
            <button type="submit">Reset Database</button>
        </form>
        
    </nav>
    {{{body}}}
</body>
</html>
