<h1>Home page</h1>
<div class="homepageDescription">
    <p>
        The Bowling League Management System (BLMS) is a web-based database 
        designed to manage a competitive bowling league. It replaces traditional 
        paper tracking with a centralized, structured system.
    </p>

    <p>
        BLMS allows administrators to manage teams, bowlers, lane assignments, 
        weekly scores, and league standings through a clean web interface 
        supporting full CUD operations for Bowlers and Bowlers-Teams assignments, and CD operations for all entities.
    </p>

    <hr>

    <p><strong>Team:</strong> Agents 47 (Group 47)</p>

    <p><strong>Members:</strong></p>
    <ul>
        <li>Balakrishna Thirumavalavan</li>
        <li>Juan Gregorio</li>
    </ul>
</div>
